*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #201C26;
    color: white;
}
strong{
    color: #D5FC34;
}

.apresentacao {
    display: flex; 
    align-items: center; 
}
